#services {
    min-height: 750px;
    background-color: #f8f8f8;
}
#services .col-12 {
    padding-top: 70px;
}
#services .col-12 .s-heading {
    display: block;
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
    position: relative;
}
#services .col-12 .s-heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -50%;
    right: 48%;
    width: 52px;
    height: 2px;
    background-color: #49c0d0;

}
#services .col-12 .s-text {
    display: block;
    font-size: 0.9em;
    text-align: center;
    margin-top: 40px;
}
#services .col-12 .s-text-2 {
    display: block;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}
#services .col-12 .s-text-3 {
    display: block;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}
#services .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-top: 50px;
    padding-bottom: 70px;
}
#services .grid-container .row:hover .hidden-black {
    left: 50%;
    transform: translate(-50%,0);
}
#services .grid-container .grid-top {
    padding-bottom: 100px;
    margin-bottom: 50px;
    position: relative;
}
#services .grid-container .row .hidden-black {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline;
    position: absolute;
    left: -100%;
    background-color: black;
    z-index: 1;
    transition: all .3s linear;
}
#services .grid-container .row .circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #49c0d0;
    overflow: hidden;
}
#services .grid-container i {
    font-size: 2.2em;
    position: absolute;
    left: 28%;
    top: 30%;
    color: white;
    z-index: 2;
}
#services .grid-container .row:nth-child(2) i {
    left: 30%;
}
#services .grid-container .row:nth-child(3) i {
    left: 32%;
}
#services .grid-container .row:nth-child(4) i {
    left: 26%;
}
#services .grid-container .row:nth-child(5) i {
    left: 40%;
}
#services .grid-container .row:nth-child(6) i {
    left: 32%;
}
#services .grid-heading {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
}
#services .grid-text {
    display: block;
    margin-top: 20px;
    font-size: 0.9em;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}